{% extends 'account/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'core/css/base.css' %}">
<link rel="stylesheet" href="{% static 'core/css/account.css' %}">
{% endblock %}

{% block content %}
<div class="row wrapper">
    <div class="col-12 col-lg-6">
        <img class="img-fluid" src="{% static 'core/img/log-in.png' %}" />
    </div>
    <div class="col-12 col-lg-6"> 
        <div class="form-wrapper">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <div class="tab-wrapper row">
                <div class="col">
                    <a href="{% url 'account_login' %}">
                        <div class="tab current">Log In</div>
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'account_signup' %}">
                        <div class="tab">Sign Up</div>
                    </a>
                </div>
            </div>
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}

                {% crispy form %}

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div>
                    <button type="submit" class="btn login-btn ">{% trans "Sign In" %}</button>
                </div>
                <p>Forgot your password? Click <a class="link" href="{% url 'account_reset_password' %}">here</a> to reset.</p>
            </form>
        </div>
    </div>
</div>
{% endblock %}

